<div id="invitation">
  <!-- SECTION 1: COUNTDOWN -->
  <section id="countdown">
    <img
      src="assets/images/daun.png"
      class="daun-overlay daun-bottom-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungaatas.png"
      class="flower-overlay flower-top-left"
      alt=""
      data-aos="fade-down-right"
    />

    <img
      src="assets/images/dekorbungabawah.png"
      class="flower-overlay flower-bottom-right"
      alt=""
    />

    <div class="countdown-overlay" data-aos="zoom-out">
      <h2 class="title">The Wedding Of</h2>
      <div class="divider-vertical"></div>
      <h2 class="nama-pengantin">
        Suliswanto <br />
        & <br />
        Kosidah
      </h2>

      <h2 class="section-title">Save The Date</h2>
      <p class="countdown-date">Senin, 06 April 2026</p>

      <div class="countdown-container">
        <div class="count-box">
          <span id="days">00</span>
          <p>Hari</p>
        </div>
        <div class="count-box">
          <span id="hours">00</span>
          <p>Jam</p>
        </div>
        <div class="count-box">
          <span id="minutes">00</span>
          <p>Menit</p>
        </div>
        <div class="count-box">
          <span id="seconds">00</span>
          <p>Detik</p>
        </div>
      </div>

      <h5 class="ucapan-doa">Mohon do'a restu dan kehadirannya.</h5>

      <h5 class="quotes">
        "Jika seseorang menikah, maka ia telah menyempurnakan separuh agamanya.
        Karenanya, bertaqwalah kepada Allah pada separuh yang lainnya." (H.R
        Al-Baihaqi).
      </h5>
    </div>
  </section>

  <!-- WAVE -->
  <div class="wave-divider">...</div>

  <!-- SECTION 2: PEMBUKA -->
  <section id="opening">
    <img
      src="assets/images/daun.png"
      class="daun-overlay daun-bottom-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungaatas.png"
      class="flower-overlay flower-top-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungabawah.png"
      class="flower-overlay flower-bottom-right"
      alt=""
    />

    <div class="countdown-overlay" data-aos="fade-up">
      <h2 class="title-bismilah">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</h2>

      <h2 class="salam">Assalamu'alaikum Warahmatullahi Wabarakatuh</h2>

      <h5 class="quotes2">
        Dengan memohon rahmat dan ridho Allah SWT yang telah menciptakan
        Makhluk-Nya secara berpasang - pasangan, kami bermaksud menyelenggarakan
        acara Walimatur Ursy.
      </h5>

      <h5 class="quotes2">
        Kami memohon do'a restu agar menjadi keluarga yang Sakinah Mawaddah
        Warrahmah. Atas perhatiannya, kami ucapkan terimakasih.
      </h5>

      <h2 class="salam">Wassalamu'alaikum Warahmatullahi Wabarakatuh</h2>
    </div>
  </section>

  <!-- WAVE -->
  <div class="wave-divider">...</div>

  <!-- SECTION 3: MEMPELAI -->
  <section id="couple">
    <img
      src="assets/images/daun.png"
      class="daun-overlay daun-bottom-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungaatas.png"
      class="flower-overlay flower-top-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungabawah.png"
      class="flower-overlay flower-bottom-right"
      alt=""
    />

    <div class="countdown-overlay" data-aos="fade-up">
      <h2 class="title">Mempelai Pria & Wanita</h2>
      <div class="divider-vertical"></div>

      <div class="pengantin">
        <h2 class="nama">Suliswanto</h2>

        <p class="ortu">Putra (Alm) Bpk. Suparmo & Ibu Rubi'ah</p>

        <p class="alamat">Ds. Sugihwaras, Dsn. Sugihwaras, Ngoro - Jombang</p>

        <p class="dengan">dengan</p>

        <h2 class="nama">Kosidah</h2>

        <p class="ortu">Putri (Alm) Bpk. Jito & Ibu Fatimah</p>

        <p class="alamat">Mojowarno, Dsn Sidoluwih (Belak Kunci)</p>
      </div>
    </div>
  </section>

  <!-- WAVE -->
  <div class="wave-divider">...</div>

  <!-- SECTION 4: MEMPELAI -->
  <section id="event">
    <img
      src="assets/images/daun.png"
      class="daun-overlay daun-bottom-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungaatas.png"
      class="flower-overlay flower-top-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungabawah.png"
      class="flower-overlay flower-bottom-right"
      alt=""
    />

    <div class="countdown-overlay" data-aos="fade-up">
      <h2 class="title">Acara</h2>
      <div class="divider-vertical"></div>

      <div class="event-cards">
        <div class="event-card">
          <img src="assets/images/box.png" class="card-bg" alt="" />

          <div class="card-content">
            <h3 class="akad">AKAD NIKAH</h3>
            <p>Senin, 06 April 2026</p>
            <p>Pukul 08.00 WIB / Selesai</p>
            <p>Rumah Mempelai Wanita : Mojowarno, Dsn Sidoluwih</p>

            <!-- GOOGLE MAP -->
            <!-- <div class="map-container">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1977.1787156966361!2d112.28380113851419!3d-7.644658098092853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e78690054aaba63%3A0x3835d48406a0d3f!2sSIDOLUWIH%2CMOJOWARNO!5e0!3m2!1sid!2sid!4v1773791060102!5m2!1sid!2sid"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                loading="lazy"
              >
              </iframe>
            </div> -->
          </div>
        </div>

        <div class="event-card">
          <img src="assets/images/box.png" class="card-bg" alt="" />

          <div class="card-content">
            <h3 class="akad">RESEPSI</h3>
            <p>Selasa, 07 April 2026</p>
            <p>Pukul Rilex</p>
            <p>Rumah Mempelai Pria : Ds. Sugihwaras, Ngoro - Jombang</p>

            <!-- GOOGLE MAP -->
            <div class="map-container">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3954.4167341059274!2d112.25283747500343!3d-7.63825369237762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zN8KwMzgnMTcuNyJTIDExMsKwMTUnMTkuNSJF!5e0!3m2!1sid!2sid!4v1773794598543!5m2!1sid!2sid"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                loading="lazy"
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- WAVE -->
  <div class="wave-divider">...</div>

  <!-- SECTION 5: MEMPELAI -->
  <section id="gift-transfer">
    <img
      src="assets/images/daun.png"
      class="daun-overlay daun-bottom-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungaatas.png"
      class="flower-overlay flower-top-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungabawah.png"
      class="flower-overlay flower-bottom-right"
      alt=""
    />

    <div class="gift-container" data-aos="fade-up">
      <h2 class="title">Gift Transfer</h2>
      <div class="divider-vertical"></div>

      <p class="gift-text">
        Doa restu Anda merupakan karunia yang sangat berarti bagi kami.
      </p>

      <p class="gift-text">Silahkan transfer melalui rekening berikut :</p>

      <!-- CARD REKENING -->
      <div class="rekening-card">
        <img src="assets/images/bri.svg" class="bank-logo" />

        <p class="no-rek" id="noRek">3652 0103 4979 538</p>
        <p class="nama-rek">a.n. Kosidah</p>

        <button onclick="copyRek()" class="btn-copy">Salin Rekening</button>
      </div>

      <!-- FORM -->
      <div class="form-transfer">
        <input
          type="text"
          placeholder="Nama (contoh: Budi Santoso)"
          id="nama"
        />
        <input
          type="text"
          placeholder="Bank / E-Wallet (contoh: BRI / DANA)"
          id="bank"
        />
        <input
          type="number"
          placeholder="Nominal (contoh: 100000)"
          id="nominal"
        />

        <button onclick="kirimTransfer()" class="btn-kirim">
          Konfirmasi Transfer
        </button>
      </div>
    </div>

    <!-- LOADING -->
    <div id="loading" class="loading hidden">Memverifikasi...</div>

    <!-- POPUP -->
    <div id="popup" class="popup hidden">
      <div class="popup-box">
        <p>Transfer berhasil dikonfirmasi</p>
        <button onclick="closePopup()">OK</button>
      </div>
    </div>
  </section>

  <!-- WAVE -->
  <div class="wave-divider">...</div>

  <section id="rsvp">
    <img
      src="assets/images/daun.png"
      class="daun-overlay daun-bottom-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungaatas.png"
      class="flower-overlay flower-top-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungabawah.png"
      class="flower-overlay flower-bottom-right"
      alt=""
    />

    <div class="rsvp-container" data-aos="fade-up">
      <!-- RSVP -->
      <h2 class="title">RSVP</h2>
      <div class="divider-vertical"></div>

      <p>Silahkan konfirmasi kehadiran anda kepada keluarga mempelai</p>

      <div class="form-rsvp">
        <input type="text" id="rsvpNama" placeholder="Nama" />
        <input type="number" id="rsvpJumlah" placeholder="Jumlah Tamu" />

        <select id="rsvpStatus">
          <option value="">-- Pilih Kehadiran --</option>
          <option value="Hadir">Hadir</option>
          <option value="Tidak Hadir">Tidak Hadir</option>
        </select>

        <textarea id="rsvpPesan" placeholder="Pesan"></textarea>

        <button onclick="kirimRSVP()">Konfirmasi</button>
      </div>

      <!-- UCAPAN -->
      <h2 class="title">Ucapan Selamat</h2>
      <div class="divider-vertical"></div>
      <p>Silahkan sampaikan ucapan kepada kedua mempelai</p>

      <div class="form-ucapan">
        <input type="text" id="ucNama" placeholder="Nama" />
        <input type="text" id="ucHubungan" placeholder="Hubungan" />

        <select id="ucStatus">
          <option value="">-- Kehadiran --</option>
          <option value="Hadir">Hadir</option>
          <option value="Tidak Hadir">Tidak Hadir</option>
        </select>

        <textarea id="ucPesan" placeholder="Ucapan"></textarea>

        <button onclick="kirimUcapan()">Kirim</button>
      </div>

      <!-- CHAT -->
      <div class="chat-container" id="chatContainer"></div>
    </div>
  </section>

  <!-- WAVE -->
  <div class="wave-divider">...</div>

  <!-- SECTION 2: PEMBUKA -->
  <section id="closing">
    <img
      src="assets/images/daun.png"
      class="daun-overlay daun-bottom-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungaatas.png"
      class="flower-overlay flower-top-left"
      alt=""
    />

    <img
      src="assets/images/dekorbungabawah.png"
      class="flower-overlay flower-bottom-right"
      alt=""
    />

    <div class="countdown-overlay" data-aos="fade-up">
      <h2 class="title">Mohon Do'a restu dan kehadirannya</h2>
      <div class="divider-vertical"></div>
      <h5 class="quotes2">
        'Dan diantara tanda - tanda (kebesaran)-Nya ialah, Dia menciptakan
        pasangan - pasangan untukmu dari jenismu sendiri, agar kamu cenderung
        dan merasa tentram kepadanya, dan Dia menjadikan diantaramu rasa kasih
        dan sayang. Sesungguhnya pada yang demikian itu benar - benar terdapat
        tanda - tanda bagi kaum yang berfikir.'
      </h5>
      <h2 class="salam">(Q.S Ar - Rum : 21)</h2>
      <h5 class="quotes2">
        Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila
        Bapak/Ibu/Saudara/i dapat meluangkan waktu untuk hadir pada acara
        tersebut. Atas kehadiran dan do'a restunya kami ucapkan terimakasih.
      </h5>
      <h2 class="salam">Kami Yang Berbahagia,</h2>
      <h2 class="salam">keluarga Besar Kedua Mempelai.</h2>
      <img class="foto-pengantin" src="assets/images/pengantin.png" alt="" />
    </div>
  </section>
</div>

<footer class="footer" data-aos="fade-up">
  <div class="footer-content">
    <img src="./assets/images/logows.png" class="footer-logo" />

    <p>Didesain dengan <i class="bi bi-heart-fill"></i> By : WS project</p>
    <p>Order : <i class="bi bi-telephone-x-fill"></i> +62 813-5707-3470</p>
    <p>©2026 Semua Hak Dilindungi Undang-Undang</p>
  </div>
</footer>

<!-- NAVBAR (cukup sekali) -->
<nav class="floating-navbar">
  <a href="#countdown" class="nav-item"><i class="bi bi-clock"></i></a>
  <a href="#couple" class="nav-item"><i class="bi bi-heart"></i></a>
  <a href="#event" class="nav-item"><i class="bi bi-calendar-event"></i></a>
  <a href="#rsvp" class="nav-item"><i class="bi bi-chat-dots"></i></a>
</nav>

<a href="#gift-transfer" class="floating-gift">
  <i class="bi bi-gift-fill"></i>
</a>
