<div id="cover">
  <img src="assets/images/backgroundcoverorange.png" class="bg" alt="" />

  <img src="assets/images/bungaorange.png" class="flower-top" alt="" />

  <img src="assets/images/bungaorange.png" class="flower-bottom" alt="" />

  <div class="cover-content">
    <img
      data-aos="zoom-out"
      src="assets/images/logosk.png"
      class="logo"
      alt=""   
    />

    <p class="invitation-text" data-aos="fade-up">WEDDING INVITATION</p>

    <h1 data-aos="fade-up">Suliswanto & Kosidah</h1>

    <p class="yth-text" data-aos="fade-up">Yth. Bpk/Ibu/Saudara/i</p>

    <h2 id="guestName" data-aos="fade-up">Tamu Undangan</h2>

    <button onclick="openInvitation()">
      <i class="bi bi-box2-heart-fill"></i> Buka Undangan
    </button>
  </div>
</div>
